@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
         color:rgb(0, 0, 0);
         background-color: cadetblue;
  }
}
@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-[#c5c5c5];
  }
  .tags {
    background-color: antiquewhite;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: rgb(39, 128, 128);
    font-size: 12px;
  }
  .tag:last-child{
    margin-right:0;
  }
  .tags:nth-child(2) {
    background-color: rgb(63, 4, 4);
  }
  .tags:nth-child(3) {
    background-color: rgb(121, 14, 85);
  }
  .tags:nth-child(4) {
    background-color: rgb(253, 195, 4);
  }
}